@import "_markers.scss";
@import "_register.scss";

h1, h2, h3, h4, h5, h6, html, body {
    margin: 0;
    padding: 0;
  }
  
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, html > a, body > a {
    text-decoration: none;
    color: inherit;
}
  
ul, p, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:#E5E5E5;
}

.bold{
    font-weight: 700;
}

.wrapper{
    max-width:1620px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.end{
    justify-content: flex-end;
}


.header{
    background-color: #F3F7F9;
    height: 60px;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    &-navigation{
        justify-content: space-between;
        align-items: center;
        padding: 7px 21px;
    }

    &-menu{
        align-items: center;
        margin-left: 30px;
        justify-content: space-between;
        
        
        &-item{
            margin-right: 30px;
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        &-link{
            color:  #37474F;
            
            
            &:hover{
                transition: all .3s;
                color:#0a1216f8;
                
            }
        }
    }

    &-arrow{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        &::after{
            content: url(../img/arrow.svg);
        }
    }




    &-profile{
        display: flex;
        width: 32px;
        height: 32px;
    }
}

.main{
    padding: 61px 160px 0 160px;
}

h1.page-title-text{
    color: #263238;
    font-weight: 400;
    line-height: 38px;
    font-size: 32px;
    margin-bottom: 35px;

}

.page-title-row{
    justify-content: space-between;
    
}

.create-project-btn{
    padding-left: 31px;
    padding-right: 10px;
    background-color: #11C26D;
    border-radius: 5px;
    border: none;
    height: 35px;
    color: #F3F7F9;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    &::before{
        content: url(../img/plus.svg);
        position: absolute;
        left: 5px;
        top: 8px;
    }
}

.content-row{
    justify-content: space-between;
}

.content-box{
    max-width: 790px;
    width: 100%;
    background-color: #F3F7F9;
    border-radius: 5px;
    padding: 15px 20px;
    height: 424px;
    &:first-child{
        margin-right: 40px;
    }


    &-title{
        color: #263238;
        font-weight: 700;
        margin-right: 18px;

    }

    &-link{
        color: #79B2FC;
        text-decoration: underline;
        font-weight: 400;
        font-style: 20px;
    }

    

}


.content{
    &-circle{
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin-right: 20px;
    }
    &-list{
        margin-top: 20px;
    }
    &-item-title{
        font-size: 18px;
        color: #263238;
        font-weight: 400;

    }
    &-item-descr{
        color: #A3AFB7;
        line-height: 17px;
        font-size: 14px;
    }
    &-projects{
        background-color: #F3F7F9;
        border-radius: 5px;
        padding: 16px 20px;
    }
}

.issues-item{
    margin-bottom: 10px;
    &-logo{        
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.issues-markers{
    margin-left: auto;
}
.activities-item{
    margin-bottom: 10px;
}



/**********************************
**************Project Page**********
**********************************/

.content-projects{
    &-row{
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 7px;
    }
    &-title{
        max-width: 800px;
        width: 100%;
    }
    &-key{
        max-width: 120px;
        width: 100%;
    }
}



/**********************************
**************My issues************
**********************************/

.content-allIssues{
    max-width: 440px;
    width: 100%;
    border-right: 2px solid #E5E5E5;
    padding-right: 12px;
}

.content-header{
    justify-content: space-between;
}
.content-issues{

    &-update{
        color: #A3AFB7;
        font-size: 18px;
        line-height: 24px;

    }
    
    &-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &-txt{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
        
    }
    &-header{
        margin-bottom: 3px;
    }

    &-item{
        border-bottom: 2px solid #E5E5E5;
        margin-bottom: 10px;
    }
    
    
}


.content-innerIssue{
    padding-left: 31px;
    &-description{
        color: #526069;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
    &-title{
        font-weight: 700;
        line-height: 24px;
        color: #263238;
        margin-bottom: 7px;

    }
}


.content-linked-item{
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 2px solid #E5E5E5;
    max-width: 760px;
    width: 100%;
    &-link{
        color: #263238;
    }
    span{
        margin-right: 3px;
        color:#0B69E3 ;
        font-size: 18px;
        line-height: 22px;
    }
}

.content-attachment{
    &-item{
        width: 128px;
        height: 128px;
        padding: 10px;
        background: #fff;
        margin-right: 10px;
    }
    &-filename{
        color: #526069;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        padding: 3px 0;
    }

    &-preview{
        width: 109px;
        height: 92px;
    }
    &-btn{
        border: none;
        cursor: pointer;
        background: none;
        background: #fff;
        align-items: center;
        justify-content: space-between;
        img{
            margin-top: 5px;
            height: 66px;
            width: 50px;
        }
        
    }
}
.issues-infoblock-box{
    margin-right: 90px;
}

.issues-infoblock-edit{
    background-color:transparent;
    border: none;
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 22px;
    
    &::after{
        content: url(../img/edit.svg);
        position: absolute;
        transform: translate(-50%, -60%);
        
        
    }
}

.issues-infoblock{
    &-reported,
    &-txt,
    &-estimate{
        color: #526069;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 14px;
        margin-right: 5px;
        height: 22px;
        span{
            margin-left: 10px;
            color: #263238;
        }
    }

    
    &-avatar{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }

    &-name{
        color: #263238;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    
}

