.issues-markers-item {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-right: 7px;
}

.marker-status-todo {
  color: #D9E9FF;
  background-color: #247CF0;
}

.marker-status-inProgress {
  color: #FFE1C4;
  background-color: #DE4E00;
}

.marker-status-inReview {
  color: #C2F5FF;
  background-color: #0099B8;
}

.marker-status-done {
  color: #C2FADC;
  background-color: #05A85C;
}

.marker-status-blocked {
  color: #FFDBDC;
  background-color: #E62020;
}

.marker-priority-lowest {
  color: #B53F00;
  background-color: #FFC894;
}

.marker-priority-low {
  color: #B53F00;
  background-color: #FAB06B;
}

.marker-priority-medium {
  color: #B53F00;
  background-color: #FA983C;
}

.marker-priority-high {
  color: #E62020;
  background-color: #FF8589;
}

.marker-priority-highest {
  color: #FF666B;
  background-color: #FFDBDC;
}

.marker-type-task {
  color: #0B69E3;
  background-color: #79B2FC;
}

.marker-type-bug {
  color: #FF4C52;
  background-color: #FFDBDC;
}

.marker-type-idea {
  color: #FAA700;
  background-color: #FFF39C;
}

h1, h2, h3, h4, h5, h6, html, body {
  margin: 0;
  padding: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, html > a, body > a {
  text-decoration: none;
  color: inherit;
}

ul, p, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #E5E5E5;
}

.bold {
  font-weight: 700;
}

.wrapper {
  max-width: 1620px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #F3F7F9;
  height: 60px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
}

.header-navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 21px;
}

.header-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-item {
  margin-right: 30px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.header-menu-link {
  color: #37474F;
}

.header-menu-link:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #0a1216f8;
}

.header-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}

.header-arrow::after {
  content: url(../img/arrow.svg);
}

.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
}

.main {
  padding: 61px 160px 0 160px;
}

h1.page-title-text {
  color: #263238;
  font-weight: 400;
  line-height: 38px;
  font-size: 32px;
  margin-bottom: 35px;
}

.page-title-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-project-btn {
  padding-left: 31px;
  padding-right: 10px;
  background-color: #11C26D;
  border-radius: 5px;
  border: none;
  height: 35px;
  color: #F3F7F9;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.create-project-btn::before {
  content: url(../img/plus.svg);
  position: absolute;
  left: 5px;
  top: 8px;
}

.content-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-box {
  max-width: 790px;
  width: 100%;
  background-color: #F3F7F9;
  border-radius: 5px;
  padding: 15px 20px;
  height: 424px;
}

.content-box:first-child {
  margin-right: 40px;
}

.content-box-title {
  color: #263238;
  font-weight: 700;
  margin-right: 18px;
}

.content-box-link {
  color: #79B2FC;
  text-decoration: underline;
  font-weight: 400;
  font-style: 20px;
}

.content-circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.content-list {
  margin-top: 20px;
}

.content-item-title {
  font-size: 18px;
  color: #263238;
  font-weight: 400;
}

.content-item-descr {
  color: #A3AFB7;
  line-height: 17px;
  font-size: 14px;
}

.content-projects {
  background-color: #F3F7F9;
  border-radius: 5px;
  padding: 16px 20px;
}

.issues-item {
  margin-bottom: 10px;
}

.issues-item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.issues-markers {
  margin-left: auto;
}

.activities-item {
  margin-bottom: 10px;
}

/**********************************
**************Project Page**********
**********************************/
.content-projects-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 7px;
}

.content-projects-title {
  max-width: 800px;
  width: 100%;
}

.content-projects-key {
  max-width: 120px;
  width: 100%;
}

/**********************************
**************My issues************
**********************************/
.content-allIssues {
  max-width: 440px;
  width: 100%;
  border-right: 2px solid #E5E5E5;
  padding-right: 12px;
}

.content-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-issues-update {
  color: #A3AFB7;
  font-size: 18px;
  line-height: 24px;
}

.content-issues-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.content-issues-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
}

.content-issues-header {
  margin-bottom: 3px;
}

.content-issues-item {
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 10px;
}

.content-innerIssue {
  padding-left: 31px;
}

.content-innerIssue-description {
  color: #526069;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.content-innerIssue-title {
  font-weight: 700;
  line-height: 24px;
  color: #263238;
  margin-bottom: 7px;
}

.content-linked-item {
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 2px solid #E5E5E5;
  max-width: 760px;
  width: 100%;
}

.content-linked-item-link {
  color: #263238;
}

.content-linked-item span {
  margin-right: 3px;
  color: #0B69E3;
  font-size: 18px;
  line-height: 22px;
}

.content-attachment-item {
  width: 128px;
  height: 128px;
  padding: 10px;
  background: #fff;
  margin-right: 10px;
}

.content-attachment-filename {
  color: #526069;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 3px 0;
}

.content-attachment-preview {
  width: 109px;
  height: 92px;
}

.content-attachment-btn {
  border: none;
  cursor: pointer;
  background: none;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-attachment-btn img {
  margin-top: 5px;
  height: 66px;
  width: 50px;
}

.issues-infoblock-box {
  margin-right: 90px;
}

.issues-infoblock-edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
}

.issues-infoblock-edit::after {
  content: url(../img/edit.svg);
  position: absolute;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.issues-infoblock-reported, .issues-infoblock-txt, .issues-infoblock-estimate {
  color: #526069;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 14px;
  margin-right: 5px;
  height: 22px;
}

.issues-infoblock-reported span, .issues-infoblock-txt span, .issues-infoblock-estimate span {
  margin-left: 10px;
  color: #263238;
}

.issues-infoblock-avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.issues-infoblock-name {
  color: #263238;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */